* {
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}

h2,h3,h4{
color:white;
}

.fontsize{
font-size: 10px;
color:white;
}
.wrapper{
  width:100%;
  height:1700px;
  align:center;
  padding-right: 10px;
  padding-top: 0px;
  padding-left:10px;
}
nav {

  font-size: 10px;
  float: left;
  width:38%;

  height:1700px;
  background: #001C52;
  padding: 5px;
  display:Block;
  flex:1;
}
.info{
width=100%;
font-color: black;
font-size: 10px;
}

nav ul {
  list-style-type: none;
  padding: 0;

}

.s{
  font-size: 7px;
  color: white;
}
.h{
  color:#001C52;
}


article {
height:1700px;
  float: right;
  padding: 10px;
  width: 62%;
  background-color: #f1f1f1;
  
}
a:link {
  color: white;

}

img {
  border-radius: 50%;
  padding:5px;
}

.info_pad td
{
padding:0 5px 0 0; 
width=100%;
font-color: black;
font-size: 10px;
}
@media only screen and (min-width: 700px) {
 nav {
  width:20%;
  height:800px;
}

article {

  width: 80%;
  height:800px;
  
}
}
@media only screen and (min-width: 375px) and (max-width: 450px){
 nav {
 
  height:1300px;
}

article {

  
  height:1300px;
  
}
}
@media only screen and (min-width: 360px) and (max-width: 400px){
 nav {
 
  height:1500px;
}

article {

  
  height:1500px;
  
}
}